= form_tag sessions_path do
  = render 'layouts/flash', flash: flash
  .input
    = label_tag :email
    = text_field_tag :email
  .input
    = label_tag :password
    = password_field_tag :password
  .submit
    = submit_tag "Log In", class: 'btn btn-primary btn-large'