- content_for :title do
  Benjamin Harris Creative

.demoReel
  .container
    %iframe{ src: add_vimeo_params("http://player.vimeo.com/video/47907929"), width: "960", height: "539", frameborder: "0", webkitAllowFullScreen: true, mozallowfullscreen: true, allowFullScreen: true }
.spacer
.sectionTitle
  .container featuredWORK
.recentVideos
  .container
    %iframe.left{src: add_vimeo_params("http://player.vimeo.com/video/23220210"), width: "470", height: "262", frameborder: "0", webkitAllowFullScreen: true, mozallowfullscreen: true, allowFullScreen: true}
    %iframe.left.last{src: add_vimeo_params("http://player.vimeo.com/video/32883090"), width: "470", height: "262", frameborder: "0", webkitAllowFullScreen: true, mozallowfullscreen: true, allowFullScreen: true}
.spacer
.statement
  .container
    %p
      I AM IN THE BUSINESS OF BLOWING MINDS...
      %br
      AND BUSINESS IS GOOD
    %span.viewWork= link_to 'viewVIDEOS', video_path
.spacer
.sectionTitle
  .container recentBLOGS
.recentBlog
  .container
    .blogTitle= @blog.title
    .createdAt= @blog.created_at.strftime('%B %-d, %Y')
    = simple_format truncate(@blog.body, length: 600)
    .clear
    %p
      %span.readMore= link_to 'readMore', blog_show_path(@blog)
.spacer
.sectionTitle
  .container clients
.clients
  .container
    .client.left= image_tag 'huhot_logo.png'
    .client.left= image_tag 'Marriott.png'
    .client.left= image_tag 'fizik.png'
    .client.left= image_tag 'you_can_play.png'
    .clear
    .other otherCLIENTS
    %li.client Science Matters
    %li.client City of Denver
    %li.client The Center