= form_tag update_all_admin_videos_path, method: :put do
  = render 'layouts/flash', flash: flash
  %table.videos
    %tr
      %td.tableHeader{width: 300} 
        %span.text Video Title
      %td.tableHeader{width: 150} 
        %span.text Display on site?
        %i.icon-question-sign.bootstrapTooltip{rel: 'tooltip', 'data-title' => 'Check this to display the video on the site'}
      %td.tableHeader{width: 150} 
        %span.text Featured Video?
        %i.icon-question-sign.bootstrapTooltip{rel: 'tooltip', 'data-title' => 'Check this to feature the video on the main page'}
      %td.tableHeader 
        %span.text Main Video?
        %i.icon-question-sign.bootstrapTooltip{rel: 'tooltip', 'data-title' => 'Check this to make the video the main video on the homepage'}
      %td.tableHeader &nbsp;
    - @videos.each do |video|
      = fields_for 'videos[]', video do |f|
        %tr
          %td= video.title
          %td= f.check_box :display_flag
          %td= f.check_box :featured_flag
          %td= f.radio_button :main_flag, 'true', checked: video.main_flag
          %td= link_to 'Delete', admin_video_path(video), method: :delete, confirm: 'Are you sure you want to delete this video?'
  .submit.marginLeft10
    = submit_tag "Update", class: 'btn btn-primary btn-large'